{#
/**
 * @file
 * Theme override for header logo/link block (navigation_before_top region)
 * 
 * ADAPTATION D7 STRUCTURE:
 * D7 Original: sites/all/modules/custom/block_header_top_left/templates/header_top_left_block.tpl.php
 * 
 * Structure:
 * - Container wrapper
 * - Logo link (Normandie.fr)
 * - Image logo
 * - Cheque image link
 * 
 * Variables available:
 * - block: Block entity (D10 native)
 * - content: Block content
 * - attributes: Block wrapper attributes
 * - content_attributes: Content attributes
 */
#}

<!-- BEGIN: Header Top Left Block (Navigation Before Top) -->
<div{{ attributes.addClass('block', 'block-header-top', 'contextual-links-region') }}>
  <div class="container">
    {# Normandie.fr Logo Link #}
    <a href="https://www.normandie.fr" class="logo" target="_blank" rel="noopener">
      <img class="img-responsive" src="/themes/custom/normandie/images/logo-normandie.png" alt="Région Normandie">
    </a>
    
    {# Cheque/Initiative Link #}
    <a href="/" class="cheque-link">
      <img class="cheque-image" src="/themes/custom/normandie/img/cheque-eco-energie2.png" alt="">
    </a>
  </div>
</div>
<!-- END: Header Top Left Block -->
